@charset "UTF-8";
/* IMPORTS */
/* PALETA DE COLORES */
/* FUENTES */
/* SHADOW BOX */
/* Back up de colores; */
/* $colorBackground: #faebd7 */
/* Asigna Margin y Padding */
/* Asignar Height y Width */
/*Mixin de estilos de vértices radiales*/
/* ------------------------------- ESTILOS DEL HEADER ------------------------------- */
header nav .container-fluid {
  /* Ubicación y propiedades del NAV*/
  margin-top: -8px; /* Corrección de desfase*/
  background-color: #F58700;
  border-bottom: 3px solid #ffab45; /* Borde en la parte inferior */
  box-shadow: 0px 3px 10px rgba(2, 1, 1, 0.3); /* Sombra en la parte inferior */
}
header nav .container-fluid .indexLogoLink {
  width: 150px; /* Corrección de espaciado entre menú hambruguesa y logo*/
  /*Mixin de Margin y Padding*/
  margin: 0 0 0 50px;
  padding: 5px;
  /* Mixin- Margin y Padding */
}
header nav .container-fluid .indexLogoLink img {
  /* Propiedades de la img del logo*/
  width: 8%;
  min-width: 120px;
}
header nav .container-fluid button {
  /* Propiedades del menú Hamburguesa*/
  margin: 10px 25px;
  color: #ffe4c4;
  border: 2px solid rgba(255, 228, 196, 0.5);
}
header nav .container-fluid button span {
  /* Propiedades de la img dentro del menú Hamburguesa*/
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
header nav .container-fluid div ul {
  /* Ubicación y propiedades de las UL del NAV*/
  list-style-type: none;
  font-family: "Barlow Condensed", sans-serif; /* Llamo a la fuente importada*/
  display: flex;
  text-align: center;
  position: fixed;
  right: 0;
  background-color: #F58700;
}
@media screen and (max-width: 991px) {
  header nav .container-fluid div {
    /* Cuando se habilita el menú hambur. se modifican los estilos de los links del nav*/
  }
  header nav .container-fluid div ul {
    width: 100%;
    box-shadow: 0px 3px 10px rgba(71, 54, 54, 0.3);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  header nav .container-fluid div .nav-link.active, header nav .container-fluid div .nav-link.show {
    /* Propiedades del texto A del NAV que está ACTIVO*/
    background-color: #e97100;
    margin: 0px;
  }
}
header nav .container-fluid div li .nav-link {
  /* Propiedades del texto A del NAV*/
  color: #ffe4c4;
  text-decoration: none;
  font-size: x-large;
  margin: 5px 20px;
}
header nav .container-fluid div li .nav-link:hover {
  /* Hover de links del NAV*/
  color: #3d1b12;
  transition: color 0.5s ease;
}
header nav .container-fluid div li .nav-link.active, header nav .container-fluid div li .nav-link.show {
  /* Propiedades del texto A del NAV que está ACTIVO*/
  text-decoration: overline;
  color: #f8bc72;
}

/* PALETA DE COLORES */
/* FUENTES */
/* SHADOW BOX */
/* Back up de colores; */
/* $colorBackground: #faebd7 */
/* ------------------------------- ESTILOS DEL FOOTER ------------------------------- */
footer {
  background-color: #F58700; /* Color de fondo */
  color: #ffe4c4; /* Color del texto */
  text-align: center;
}
footer .contenedorFooterData {
  /* Para corregir espacio en blanco del lado derecho */
  margin-right: 0px;
}
footer .contenedorFooterData .footerText .footerTextP {
  /* Estilos para el texto de copyright */
  margin: 20px;
  font-family: "Barlow Condensed", sans-serif;
}
footer .contenedorFooterData .imgFooter .socialLink .logoSocialFooter {
  /* Estilos para LOGOS de redes del footer */
  /*Mixin de Height y Width*/
  height: 30px;
  width: 30px;
  margin-bottom: 20px;
}
footer .contenedorFooterData .imgFooter .socialLink:hover {
  opacity: 0.6; /* Cambia la opacidad al hacer hover sobre LOGOS de redes*/
  transition: opacity 0.5s ease;
}

/* PALETA DE COLORES */
/* FUENTES */
/* SHADOW BOX */
/* Back up de colores; */
/* $colorBackground: #faebd7 */
/* Asigna Margin y Padding */
/* Asignar Height y Width */
/*Mixin de estilos de vértices radiales*/
/* ------------------------------- ESTILOS DE LA HTML NOSOTROS ------------------------------- */
main .profContainer {
  /* Propiedades del contenedor de las imagenes de la sección */
  margin: 20px 0px;
  background-color: #f5f5f5;
  box-shadow: 0px 0px 10px rgba(2, 1, 1, 0.1); /* Sombra en la parte inferior */
}
main .profContainer div {
  /* Espaciado y centrado de los contenedores */
  /*Mixin de Margin y Padding*/
  margin: 0;
  padding: 10px;
  /* Mixin- Margin y Padding */
  justify-content: center; /* Para centrar los elementos horizontalmente */
}
main .profContainer div .faceImg {
  /* Propiedades del contenedor de la img */
  position: relative; /* Para que el texto pueda ubicarse encima de la img */
  margin: 60px 30px;
  min-height: 300px;
  min-width: 300px;
}
main .profContainer div .faceImg .img-fluid {
  /* Para que el hover de la img se adapte a la forma redonda */
  border-radius: 50%;
}
main .profContainer div .faceImg .textImgEvento {
  transition: opacity 0.3s;
  /* Propiedades del contenedor del texto */
  text-shadow: 2px 2px 5px rgba(1, 1, 1, 0.5);
  font-family: "Barlow Condensed", sans-serif;
  visibility: visible;
  font-size: 130%;
  position: absolute;
  top: 45%;
  left: 30%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
}
main .profContainer div .faceImg .textImgEvento .nameImg {
  line-height: 0.75; /* Ajusto el espaciado entre párrafos */
  font-weight: bolder;
  margin: 15px 0 3px 0;
  color: #f5f5f5;
}
main .profContainer div .faceImg .textImgEvento .descNameImg {
  letter-spacing: 1px; /* Ajusto el espaciado entre letras */
  line-height: 1; /* Ajusto el espaciado entre párrafos */
  font-style: italic;
  font-size: 80%;
  color: #f5f5f5;
  text-shadow: 2px 2px 5px rgb(1, 1, 1);
}
main .profContainer div .faceImg .textImgEvento span {
  display: block; /* Para generar saltos de línea en los textos */
}
main .profContainer div .img-fluid:hover + .textImgEvento {
  /* Cambia la opacidad de la img al hacer hover y aparece el texto encima*/
  opacity: 100%;
  transition: opacity 0.3s;
  /*Para que se muestre el texto al hacer hover en la img */
  visibility: visible;
}
main .profContainer div .textImgEvento:hover {
  opacity: 100%;
  /* Para que se mantenga visible al pasar por encima del texto de la img */
  visibility: visible;
}
main .h2Asociados {
  /*Mixin de Margin y Padding*/
  margin: 0;
  padding: 10px;
  /* Mixin- Margin y Padding */
  color: #3d1b12;
}
main .h2Asociados p {
  /*Mixin de Margin y Padding*/
  margin: 0;
  padding: 0;
  /* Mixin- Margin y Padding */
}
main .containerMarca {
  display: flex;
  justify-content: center;
  /* Propiedades del contenedor de marcas asociadas */
  background-image: url("../images/marcaBg.jpg");
  background-size: cover; /* Para cubrir todo el fondo */
  background-position: center 80%; /* Para centrar la imagen */
  background-repeat: no-repeat;
  /*Mixin de Margin y Padding*/
  margin: 0;
  padding: 0;
  /* Mixin- Margin y Padding */
}
main .containerMarca .marcaImg {
  display: none;
}
main .containerMarca .divAsociados {
  /* Medidas del contenedor del carousel */
  /*Mixin de Height y Width*/
  height: 200px;
  width: 80%;
  justify-content: center;
}
main .containerMarca .divAsociados #carouselAsociados {
  /* Medidas y centrado del contenedor del carousel */
  display: flex;
  height: 200px;
  text-align: center;
  justify-content: center;
}
main .containerMarca .divAsociados .carouselInnerAsociados {
  width: 80%; /* Para que los botones de cambio de img no queden muy pegados al borde de la pantalla */
}
main .containerMarca .divAsociados .carousel-item {
  width: 100%; /* Asegura que cada elemento del carousel tenga un ancho del 100% del contenedor */
}
main .containerMarca .divAsociados .carouselImgAsociados {
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  max-width: 100%; /* Mantiene el tamaño máximo */
  max-height: 100%; /* Mantiene el tamaño máximo */
}
main .containerMarca .divAsociados .carouselImgAsociados .imgCarouselAsociados {
  object-fit: contain; /* Para que se adapte al tamaño del contenedor */
  max-width: 100%; /* Mantiene el tamaño máximo */
  max-height: 100%; /* Mantiene el tamaño máximo */
  height: 140px;
}

@media screen and (min-width: 770px) {
  main .containerMarca {
    /* Propiedades del contenedor de marcas asociadas */
    background-image: url("../images/marcaBg.jpg");
    background-size: cover; /* Para cubrir todo el fondo */
    background-position: center 80%; /* Para centrar la imagen */
    background-repeat: no-repeat;
    /*Mixin de Margin y Padding*/
    margin: 0;
    padding: 0;
    /* Mixin- Margin y Padding */
  }
  main .containerMarca div {
    /* Altura del contenedor */
    height: 200px;
  }
  main .containerMarca div .marcaImg {
    /* Hace visibles los logos horizontales */
    visibility: visible;
    position: relative;
    /* Centrado de los logos */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  main .containerMarca div .logoImg {
    min-width: 30%;
    /* Ajuste de tamaño de los logos */
    width: 80%;
    opacity: 70%;
  }
  main .containerMarca div .logoImg:hover {
    /* Ajuste de tamaño de los logos */
    opacity: 100%;
    transition: opacity 0.3s;
  }
  main .divAsociados {
    /* Para que se oculte el carousel de marcas */
    display: none;
  }
}
/* PALETA DE COLORES */
/* FUENTES */
/* SHADOW BOX */
/* Back up de colores; */
/* $colorBackground: #faebd7 */
/* Asigna Margin y Padding */
/* Asignar Height y Width */
/*Mixin de estilos de vértices radiales*/
/* Extend de estilos de botones */
main .rowIndexEvent .textEventIndex div .buttonEnterateMas {
  background-color: #F58700;
  border: #F58700;
  border-radius: 0px; /* Corrige el radius del framework */
  border-top-right-radius: 15px; /* Asigno bordes solo a 2 vértices */
  border-bottom-left-radius: 15px;
}

main .rowIndexEvent .textEventIndex div .buttonEnterateMas:hover {
  opacity: 0.6;
  transition: opacity 0.5s ease;
}

main .rowIndexEvent .textEventIndex div .buttonEnterateMas:active {
  /* Transparenta y cambia color de borde y fuente */
  background-color: transparent;
  border: 1px solid #F58700;
  color: #F58700;
  box-shadow: 0px 2px 15px rgba(1, 1, 1, 0.5);
}

/* ------------------------------- ESTILOS DE LA HTML EVENTOS ------------------------------- */
main {
  /* -------------------------- SECCIÓN EVENTOS -----------------------*/
}
main .h1Eventos {
  margin-bottom: 0px; /* Corrección de valor del h1 */
}
main .containerEventos {
  background-image: url("../images/eventosBg.jpg"); /* IMG de fondo */
  background-size: cover; /* Para cubrir todo el fondo */
  background-position: center; /* Para centrar la imagen */
  background-repeat: no-repeat;
  padding: 10px;
  max-height: 900px; /* Altura máxima del contenedor */
  overflow-y: auto; /* Habilita el desplazamiento vertical si el contenido es mayor que la altura */
}
main .containerEventos .textEvent {
  /* Propiedades de los contenedores de eventos */
  background-color: #f5f5f5;
  box-shadow: 0px 2px 15px rgba(1, 1, 1, 0.5);
  text-align: center;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 500;
  /*Mixin de Margin y Padding*/
  margin: 20px 30px;
  padding: 20px 0 0 0;
  /* Mixin- Margin y Padding */
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  /* Mixin- Asigna curvas a las aristas */
}
main .containerEventos .textEvent .spanEvent {
  /* Estilo de texto de la fecha del evento */
  font-weight: bold;
  display: block;
}
main .containerEventos .textEvent .buttonEnterateMas {
  border: none; /* Borro el border default de button del bootstrap */
  background-color: #F58700; /* Asigno color al button */
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 23px;
  border-bottom-left-radius: 23px;
  /* Mixin- Asigna curvas a las aristas */
  /*Mixin de Height y Width*/
  height: 50px;
  width: 100%;
}
main .containerEventos .textEvent .buttonEnterateMas:hover {
  /* Hover del botón para más información */
  background-color: #e97100;
}
main .containerEventos .textEvent .buttonEnterateMas:active {
  /* Active del botón para más información */
  background-color: transparent;
  border: 1px solid #F58700;
  color: #F58700;
  box-shadow: 0px 2px 15px rgba(1, 1, 1, 0.5);
  transition: opacity 0s;
}

@media screen and (min-width: 600px) {
  .textEvent:hover {
    /* Contenedor de eventos al hacerle hover */
    opacity: 100%;
    transition: opacity 0.1s;
    box-shadow: 0px 3px 10px rgba(71, 54, 54, 0.3);
  }
}
/* PALETA DE COLORES */
/* FUENTES */
/* SHADOW BOX */
/* Back up de colores; */
/* $colorBackground: #faebd7 */
/* Asigna Margin y Padding */
/* Asignar Height y Width */
/*Mixin de estilos de vértices radiales*/
/* Extend de estilos de botones */
main .rowIndexEvent .textEventIndex div .buttonEnterateMas {
  background-color: #F58700;
  border: #F58700;
  border-radius: 0px; /* Corrige el radius del framework */
  border-top-right-radius: 15px; /* Asigno bordes solo a 2 vértices */
  border-bottom-left-radius: 15px;
}

main .rowIndexEvent .textEventIndex div .buttonEnterateMas:hover {
  opacity: 0.6;
  transition: opacity 0.5s ease;
}

main .rowIndexEvent .textEventIndex div .buttonEnterateMas:active {
  /* Transparenta y cambia color de borde y fuente */
  background-color: transparent;
  border: 1px solid #F58700;
  color: #F58700;
  box-shadow: 0px 2px 15px rgba(1, 1, 1, 0.5);
}

/* ------------------------------- ESTILOS DE LA HTML CONTACTO ------------------------------- */
.contactBg {
  background-image: url("../images/runBg.jpg"); /* Img de fondo de la sección */
  background-size: cover; /* Para cubrir todo el fondo */
  background-position: center; /* Para centrar la imagen */
  background-repeat: no-repeat; /* Para que no se repita la img */
}
.contactBg main {
  /* -------------------------- SECCIÓN CONTACTO -----------------------*/
}
.contactBg main .containerContacto .containerNosotros .containerInternoMapa {
  /* Para separar los contenedores entre si y de los bordes */
  margin: 15px 15px 60px 15px;
}
.contactBg main .containerContacto .containerNosotros .containerInternoMapa .mapDiv {
  /* Propiedades del fondo del contenedor del mapa */
  /*Mixin de Height y Width*/
  height: 340px;
  width: 100%;
  /*Mixin de Height y Width*/
  background-color: rgba(245, 245, 245, 0.6705882353);
  box-shadow: 0px 0px 10px rgba(2, 1, 1, 0.1);
  /* Propiedades del tamaño del mapa */
}
.contactBg main .containerContacto .containerNosotros .containerInternoMapa .mapDiv .map {
  /*Mixin de Height y Width*/
  height: 100%;
  width: 100%;
  /*Mixin de Height y Width*/
  /*Mixin de Margin y Padding*/
  margin: 0;
  padding: 15px 10px;
  /* Mixin- Margin y Padding */
}
.contactBg main .containerContacto .containerNosotros .containerInternoMapa .mapDiv:hover {
  background-color: #f5f5f5;
  transition: background-color 0.4s;
}
.contactBg main .containerContacto .containerNosotros .containerInternoMapa .datosDiv {
  /* Propiedades del contenedor de datos de contacto */
  background-color: rgba(245, 245, 245, 0.6705882353);
  /*Mixin de Height y Width*/
  height: 160px;
  width: 100%;
  /*Mixin de Height y Width*/
  /*Mixin de Margin y Padding*/
  margin: 10px 0 0 0;
  padding: 10px 0;
  /* Mixin- Margin y Padding */
  box-shadow: 0px 0px 10px rgba(2, 1, 1, 0.1);
}
.contactBg main .containerContacto .containerNosotros .containerInternoMapa .datosDiv p {
  /* Propiedades del contenedor de texto de datos de contacto */
  /*Mixin de Margin y Padding*/
  margin: 15px 0;
  padding: 5px;
  /* Mixin- Margin y Padding */
  color: #ffe4c4;
  background-color: #e97100;
}
.contactBg main .containerContacto .containerNosotros .containerInternoMapa .datosDiv p img {
  /* Propiedades del icono del texto de datos de contacto */
  height: 25px;
  margin: 5px;
}
.contactBg main .containerContacto .containerNosotros .containerInternoMapa .datosDiv:hover {
  background-color: #f5f5f5;
  transition: background-color 0.4s;
}
.contactBg main .containerContacto .containerNosotros .containerInternoMapa p:hover {
  background-color: #F58700;
  transition: background-color 0.3s;
}
.contactBg main .containerContacto .containerNosotros .containerInternoMapa p:hover img {
  animation: 1s;
}
.contactBg main .containerContacto .containerNosotros .containerForm2 {
  /* Espaciado entre contenedores */
  margin: 15px;
}
.contactBg main .containerContacto .containerNosotros .containerForm2 .formDiv {
  /* Propiedades del contenedor del form */
  height: 510px;
  box-shadow: 0px 0px 10px rgba(2, 1, 1, 0.1);
  background-color: rgba(245, 245, 245, 0.6705882353);
  /*Mixin de Margin y Padding*/
  margin: 0;
  padding: 15px;
  /* Mixin- Margin y Padding */
}
.contactBg main .containerContacto .containerNosotros .containerForm2 .formDiv h2 {
  /* Corrección de valores del h2 */
  color: #ffe4c4;
  background-color: #e97100;
  margin-bottom: 20px;
  border-radius: 10px;
}
.contactBg main .containerContacto .containerNosotros .containerForm2 .formDiv .formNosotros {
  /* Asigno estilos a los input */
}
.contactBg main .containerContacto .containerNosotros .containerForm2 .formDiv .formNosotros .containerInputNombre {
  /* Corrección de valores heredados del framework */
  padding-left: 0;
}
.contactBg main .containerContacto .containerNosotros .containerForm2 .formDiv .formNosotros .containerInputEmail {
  /* Corrección de valores heredados del framework */
  padding-right: 0;
}
.contactBg main .containerContacto .containerNosotros .containerForm2 .formDiv .formNosotros .inputNosotros {
  /* Opacidad del contenedor del form */
  opacity: 60%;
  transition: opacity 0.3s;
}
.contactBg main .containerContacto .containerNosotros .containerForm2 .formDiv .formNosotros .inputNosotros:hover {
  /* Hover de los input */
  opacity: 100%;
  box-shadow: 0px 3px 10px rgba(71, 54, 54, 0.3);
}
.contactBg main .containerContacto .containerNosotros .containerForm2 .formDiv .formNosotros .inputNosotros:focus {
  /* Cuando está posicioinado sobre el input */
  opacity: 100%;
  box-shadow: 0px 3px 10px rgba(71, 54, 54, 0.3);
  border: 2px solid #ffab45;
}
.contactBg main .containerContacto .containerNosotros .containerForm2 .formDiv .formNosotros .inputNosotros:active {
  /* Corrección de valores heredados del framework */
  opacity: 100%;
  box-shadow: 0px 3px 10px rgba(71, 54, 54, 0.3);
  border: 2px solid #F58700;
}
.contactBg main .containerContacto .containerNosotros .containerForm2 .formDiv .formNosotros .textareaNosotros {
  /* Para que el text area del form no sea ajustable */
  resize: none;
  height: 190px;
}
.contactBg main .containerContacto .containerNosotros .containerForm2 .formDiv .formNosotros .buttonContainerNosotros {
  /* Propiedades de los botones */
}
.contactBg main .containerContacto .containerNosotros .containerForm2 .formDiv .formNosotros .buttonContainerNosotros .buttonContactoS, .contactBg main .containerContacto .containerNosotros .containerForm2 .formDiv .formNosotros .buttonContainerNosotros .buttonContactoR {
  display: inline;
  background-color: #F58700;
  border: #F58700;
  border-top-left-radius: 0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 15px;
  /*Mixin de estilos de vértices radiales*/
}
.contactBg main .containerContacto .containerNosotros .containerForm2 .formDiv .formNosotros .buttonContainerNosotros .buttonContactoS:hover, .contactBg main .containerContacto .containerNosotros .containerForm2 .formDiv .formNosotros .buttonContainerNosotros .buttonContactoR:hover {
  opacity: 0.6;
  transition: opacity 0.5s ease;
}
.contactBg main .containerContacto .containerNosotros .containerForm2 .formDiv .formNosotros .buttonContainerNosotros .buttonContactoS:active, .contactBg main .containerContacto .containerNosotros .containerForm2 .formDiv .formNosotros .buttonContainerNosotros .buttonContactoR:active {
  border: 2px solid #e97100;
  color: #e97100;
  background-color: transparent;
  box-shadow: 0px 2px 15px rgba(1, 1, 1, 0.5);
  font-weight: 500;
}
.contactBg main .containerContacto .containerNosotros .containerForm2 .formDiv:hover {
  background-color: #f5f5f5;
  transition: background-color 0.3s;
}

/* PALETA DE COLORES */
/* FUENTES */
/* SHADOW BOX */
/* Back up de colores; */
/* $colorBackground: #faebd7 */
/* Asigna Margin y Padding */
/* Asignar Height y Width */
/*Mixin de estilos de vértices radiales*/
/* Extend de estilos de botones */
main .rowIndexEvent .textEventIndex div .buttonEnterateMas {
  background-color: #F58700;
  border: #F58700;
  border-radius: 0px; /* Corrige el radius del framework */
  border-top-right-radius: 15px; /* Asigno bordes solo a 2 vértices */
  border-bottom-left-radius: 15px;
}

main .rowIndexEvent .textEventIndex div .buttonEnterateMas:hover {
  opacity: 0.6;
  transition: opacity 0.5s ease;
}

main .rowIndexEvent .textEventIndex div .buttonEnterateMas:active {
  /* Transparenta y cambia color de borde y fuente */
  background-color: transparent;
  border: 1px solid #F58700;
  color: #F58700;
  box-shadow: 0px 2px 15px rgba(1, 1, 1, 0.5);
}

/* ------------------------------- ESTILOS DE LA HTML GALERÍA ------------------------------- */
main {
  /*Propiedades de contenedores para pantallas cel*/
}
main .containerGaleria {
  /*Propiedades de los contenedores de galerías*/
  background-color: transparent;
  height: auto;
  width: 100%;
}
main .containerGaleria h2 {
  margin: 50px 0 20px 0;
  /*Propiedades del contenedor del h2 de las galerías*/
  background-color: #e97100;
  box-shadow: 0px 0px 10px rgba(2, 1, 1, 0.1);
}
main .containerGaleria h2 img {
  /* Medidas del logo de las galerías*/
  height: 70px;
  margin: 10px;
}
main .containerGaleria h2 .h2TitleGaleria {
  /* Propiedades del título del h2 del contenedor de imágenes*/
  box-shadow: 0px 0px 10px rgba(2, 1, 1, 0.1);
  font-size: medium;
  background-color: #F58700;
}
main .containerGaleria .visibleGaleriaPodios, main .containerGaleria .visibleGaleriaRunning, main .containerGaleria .visibleGaleriaTravel {
  /*Para separar el carrousel del contenedor*/
  padding: 10px;
}
main .containerGaleria .containerGaleriaPodios, main .containerGaleria .containerGaleriaRunning, main .containerGaleria .containerGaleriaTravel {
  /*Para que no se vean el resto de la imagenes ademas del carrousel*/
  display: none;
}

/*Media query para pantallas tablet */
@media screen and (min-width: 600px) {
  main .containerGaleria {
    /*Tamaño del contenedor de img */
    height: 1050px;
  }
  main .containerGaleria .visibleGaleriaPodios, main .containerGaleria .visibleGaleriaRunning, main .containerGaleria .visibleGaleriaTravel {
    /*Invisibiliza el carousel */
    display: none;
  }
  main .containerGaleria .containerGaleriaPodios, main .containerGaleria .containerGaleriaRunning, main .containerGaleria .containerGaleriaTravel {
    /* Propiedades de las img */
    display: grid;
    height: 50vh;
    grid-template-columns: repeat 2, 50%;
    grid-template-rows: 30% 50% 30% 40% 40%;
    /* Distribución de las img */
  }
  main .containerGaleria .containerGaleriaPodios .imgPodios1, main .containerGaleria .containerGaleriaRunning .imgPodios1, main .containerGaleria .containerGaleriaTravel .imgPodios1 {
    grid-row: span 1;
    grid-column: 1;
  }
  main .containerGaleria .containerGaleriaPodios .imgPodios2, main .containerGaleria .containerGaleriaRunning .imgPodios2, main .containerGaleria .containerGaleriaTravel .imgPodios2 {
    grid-column: span 2;
    grid-row: span 2;
  }
  main .containerGaleria .containerGaleriaPodios .imgPodios3, main .containerGaleria .containerGaleriaRunning .imgPodios3, main .containerGaleria .containerGaleriaTravel .imgPodios3 {
    grid-column: 1;
  }
  main .containerGaleria .containerGaleriaPodios .imgPodios4, main .containerGaleria .containerGaleriaRunning .imgPodios4, main .containerGaleria .containerGaleriaTravel .imgPodios4 {
    grid-column: span 2;
    grid-row: span 2;
  }
  main .containerGaleria .containerGaleriaPodios .imgPodios7, main .containerGaleria .containerGaleriaRunning .imgPodios7, main .containerGaleria .containerGaleriaTravel .imgPodios7 {
    grid-column: span 3;
  }
  main .containerGaleria .containerGaleriaPodios img, main .containerGaleria .containerGaleriaRunning img, main .containerGaleria .containerGaleriaTravel img {
    opacity: 90%;
    /*Mixin de Height y Width*/
    height: 100%;
    width: 100%;
    object-fit: cover;
    padding: 10px;
    transition: transform 0.3s ease;
  }
  main .containerGaleria .containerGaleriaPodios img:hover, main .containerGaleria .containerGaleriaRunning img:hover, main .containerGaleria .containerGaleriaTravel img:hover {
    /* Efectos de hover sobre las img */
    transform: scale(1.03); /* Escala la imagen ligeramente al pasar el mouse sobre ella */
    opacity: 100%;
    transition: opacity 0.2s;
  }
}
/*Media query para pantallas desktop */
@media screen and (min-width: 1024px) {
  main .containerGaleria {
    /*Tamaño del contenedor de img */
    height: 850px;
  }
  main .containerGaleria .visibleGaleriaPodios, main .containerGaleria .visibleGaleriaRunning, main .containerGaleria .visibleGaleriaTravel {
    /*Invisibiliza el carousel */
    display: none;
  }
  main .containerGaleria .containerGaleriaPodios, main .containerGaleria .containerGaleriaRunning, main .containerGaleria .containerGaleriaTravel {
    display: grid;
    height: 50vh;
    grid-template-columns: repeat 3, 25%;
    grid-template-rows: 40% 60% 50%;
    /* Distribución de las img */
  }
  main .containerGaleria .containerGaleriaPodios .imgPodios1, main .containerGaleria .containerGaleriaRunning .imgPodios1, main .containerGaleria .containerGaleriaTravel .imgPodios1 {
    grid-row: span 1;
    grid-column: 1;
  }
  main .containerGaleria .containerGaleriaPodios .imgPodios2, main .containerGaleria .containerGaleriaRunning .imgPodios2, main .containerGaleria .containerGaleriaTravel .imgPodios2 {
    grid-column: 2;
    grid-row: span 2;
  }
  main .containerGaleria .containerGaleriaPodios .imgPodios3, main .containerGaleria .containerGaleriaRunning .imgPodios3, main .containerGaleria .containerGaleriaTravel .imgPodios3 {
    grid-column: 3;
  }
  main .containerGaleria .containerGaleriaPodios .imgPodios4, main .containerGaleria .containerGaleriaRunning .imgPodios4, main .containerGaleria .containerGaleriaTravel .imgPodios4 {
    grid-column: 3;
    grid-row: 3;
  }
  main .containerGaleria .containerGaleriaPodios .imgPodios7, main .containerGaleria .containerGaleriaRunning .imgPodios7, main .containerGaleria .containerGaleriaTravel .imgPodios7 {
    grid-column: span 2;
  }
}
/* ------------------------------- ESTILOS DE LA HTML PRÓXIMA WEB ------------------------------- */
.bg-body-customProx {
  /* Cambia el color del Body */
  background-color: #F58700;
}

.proxMain .proxImgCont {
  /* Para centrar la imágen */
  display: flex;
  justify-content: center;
}
.proxMain .proxImgCont .proxImg {
  margin: 80px; /* Espaciado de la imagen */
}
.proxMain .proxH1 {
  background-color: transparent; /* Estilos del h1 */
}
.proxMain .proxH2 {
  /* Estilos del h2 */
  background-color: transparent;
  font-size: medium;
  margin-bottom: 200px;
}

/* PALETA DE COLORES */
/* FUENTES */
/* SHADOW BOX */
/* Back up de colores; */
/* $colorBackground: #faebd7 */
/* Asigna Margin y Padding */
/* Asignar Height y Width */
/*Mixin de estilos de vértices radiales*/
/* Extend de estilos de botones */
main .rowIndexEvent .textEventIndex div .buttonEnterateMas {
  background-color: #F58700;
  border: #F58700;
  border-radius: 0px; /* Corrige el radius del framework */
  border-top-right-radius: 15px; /* Asigno bordes solo a 2 vértices */
  border-bottom-left-radius: 15px;
}

main .rowIndexEvent .textEventIndex div .buttonEnterateMas:hover {
  opacity: 0.6;
  transition: opacity 0.5s ease;
}

main .rowIndexEvent .textEventIndex div .buttonEnterateMas:active {
  /* Transparenta y cambia color de borde y fuente */
  background-color: transparent;
  border: 1px solid #F58700;
  color: #F58700;
  box-shadow: 0px 2px 15px rgba(1, 1, 1, 0.5);
}

.bg-body-custom {
  /* Características del Body */
  background-color: #fff5ee;
}

@media screen and (max-width: 2024px) { /* Ajuste de la posición de los elementos para que no se superponga el header */
  main {
    padding-top: 170px;
  }
}
@media screen and (max-width: 600px) { /* Ajuste de la posición de los elementos para que no se superponga el header */
  main {
    padding-top: 140px;
  }
}
/* -------------------------------- Estilo de Scroll bar ------------------------------ */
::-webkit-scrollbar {
  /* Estilos del back del scrollbar */
  width: 15px; /* Ancho del scrollbar vertical */
  height: 15px; /* Alto del scrollbar horizontal */
  background-color: #ffe4c4;
}

::-webkit-scrollbar-button {
  /* Estilos de las flechas */
  background-color: #F58700; /* Color del scrollbar */
  border: 2px solid #ffab45;
  border-radius: 100%;
  height: 15px;
  width: 15px;
}

::-webkit-scrollbar-button:hover {
  /* Hover de las flechas */
  background-color: #e97100;
  transition: background-color 0.6s;
}

::-webkit-scrollbar-button:active {
  /* Active de las flechas */
  background-color: #ffab45;
}

::-webkit-scrollbar-thumb {
  /* Estilo de la barra */
  background-color: #F58700; /* Color del scrollbar */
  border: 2px solid #ffab45;
  border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
  /* Hover de la barra */
  background-color: #e97100;
  transition: background-color 0.6s;
}

::-webkit-scrollbar-thumb:active {
  /* Active de la barra */
  background-color: #ffab45;
}

/* -------------------------------- FINAL Estilo de Scroll bar ------------------------------ */
/* ------------------------------- ESTILOS DE LA HTML INDEX ------------------------------- */
main {
  /* Para eliminar el espacio en blanco que queda en el lado derecho de los contenedores por los estilos heredados del framework*/
  /* ---------------- Texto sobre Imágen de bienvenida INDEX ---------------*/
  /* ----------------------- Sección INDEX/SHOP ----------------------- */
  /* ----------------------- Sección index/EVENTOS -----------------------*/
  /* Propiedades del contenedor del carrousel de EVENTOS */
  /* ----------------------- Sección fundamentos ----------------------- */
}
main .row {
  margin: 0px;
}
main h1, main h2 { /* Estilos de los títulos h1 y h2 */
  background-color: #ffab45;
  text-align: center;
  font-family: "Barlow Condensed", sans-serif;
  color: #ffe4c4;
  font-weight: 500;
  margin-bottom: 30px;
}
main .indeximg {
  position: relative;
  width: 100%;
  margin-top: -130px;
  overflow: hidden;
  z-index: -1;
}
main .indeximg .imgIndexWelcome {
  /* Tamaño de la imagen de bienvenida */
  /*Mixin de Height y Width*/
  height: auto;
  width: 100%;
  /*Mixin de Height y Width*/
  display: block;
}
main .indeximg .overlay { /* Texto sobre Imágen de bienvenida INDEX */
  width: 100%;
  position: absolute;
  top: 95.5%; /* Posicionamiento sobre la imágen */
  left: 51%; /* Posicionamiento sobre la imágen */
  transform: translate(-50%, -50%); /* Posicionamiento sobre la imágen */
}
main .indeximg .overlay h1 {
  /* Corrección de propiedades del h1 */
  background-color: transparent;
  color: #fff5ee;
  display: flex;
  font-size: 10vw;
  font-weight: bolder;
}
@media screen and (max-width: 600px) {
  main { /* Ajuste de la posición de la imágen principal para que no se superponga el header */ }
  main .indeximg {
    padding-top: 100px;
  }
}
main .containerIndexShop {
  /* Propiedades del contenedor de sección SHOP */
  /*Mixin de Margin y Padding*/
  margin: 20px 0 20px 0;
  padding: 30px;
  /* Mixin- Margin y Padding */
}
main .containerIndexShop div {
  /* Redondeado de aristas */
  border-radius: 30px;
}
main .containerIndexShop div .divShopIndex {
  /* Propiedades del contenedor del carrousel */
  /*Mixin de Margin y Padding*/
  margin: 0;
  padding: 0;
  /* Mixin- Margin y Padding */
  box-shadow: 0px 3px 10px rgba(71, 54, 54, 0.3);
  /*Mixin de Height y Width*/
  height: 300px;
  width: 450px;
}
main .containerIndexShop div .divShopIndex img {
  /* Para que la imagen ocupe todo el espacio del contenedor */
  object-fit: cover;
}
main .containerIndexShop div .textShopIndex {
  /* Propiedades del contenedor del cuadro de texto sección SHOP*/
  height: fit-content; /* Para que el contenedor se adapte al contenido*/
  max-height: 380px;
  background-color: #f5f5f5;
  box-shadow: 0px 0px 10px rgba(2, 1, 1, 0.1);
  border-top-left-radius: 0;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 0;
  /* Mixin- Asigna curvas a las aristas */
  /*Mixin de Margin y Padding*/
  margin: 0 0 0 -30px;
  padding: 0;
  /* Mixin- Margin y Padding */
}
main .containerIndexShop div .textShopIndex h2 { /* Corrección de valores del h2 global */
  border-top-right-radius: 30px;
  width: 100%;
  /*Mixin de Margin y Padding*/
  margin: 0;
  padding: 0;
  /* Mixin- Margin y Padding */
}
main .containerIndexShop div .textShopIndex div {
  max-height: 175px; /* Altura máxima de la región scrollable */
  overflow-y: auto; /* Habilita el scroll vertical si el contenido es mayor que la altura */
}
main .containerIndexShop div .textShopIndex div p {
  /* Fuente y espaciados del texto de SHOP*/
  font-family: "Barlow Condensed", sans-serif;
  font-size: larger;
  /*Mixin de Margin y Padding*/
  margin: 0 0 20px 0;
  padding: 5px 10px 0px 50px;
  /* Mixin- Margin y Padding */
}
main .containerIndexShop div .textShopIndex div p span {
  display: block; /* Para generar saltos de línea en los textos */
}
@media screen and (max-width: 990px) {
  main .containerIndexShop div {
    /* Comportamiento de los contenedores al ajustar la resolución de pantalla */
  }
  main .containerIndexShop div .divShopIndex {
    /* Ajuste de medidas para que el carrousel se adapte a los contenedores y ocupe toda la pantalla */
    /*Mixin de Height y Width*/
    height: auto;
    width: auto;
  }
  main .containerIndexShop div .textShopIndex {
    width: 75%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    /* Mixin- Asigna curvas a las aristas */
    /*Mixin de Margin y Padding*/
    margin: -30px 0 0 0;
    padding: 30px 0 0 0;
    /* Mixin para centrar el contenedor de texto en responsive */
  }
  main .containerIndexShop div .textShopIndex h2 { /* Corrección de valores del h2 global */
    border-top-right-radius: 0px;
    /*Mixin de Margin y Padding*/
    margin: -40px 0 0 0;
    padding: 40px 0 0 0;
    /* Mixin- Margin y Padding */
  }
  main .containerIndexShop div .textShopIndex div p {
    /*Mixin de Margin y Padding*/
    margin: 10;
    padding: 5px 10px 0px 10px;
    /* Mixin- Margin y Padding */
  }
}
main .rowIndexEvent {
  padding: 30px;
  margin-bottom: 30px;
}
main .rowIndexEvent .divEventIndex {
  /* Propiedades del contenedor del carrousel */
  /*Mixin de Height y Width*/
  height: 300px;
  width: 450px;
  /* Mixin- Height y Width */
  /*Mixin de Margin y Padding*/
  margin: 0;
  padding: 0;
  /* Mixin- Margin y Padding */
  box-shadow: 0px 3px 10px rgba(71, 54, 54, 0.3);
}
main .rowIndexEvent .divEventIndex img {
  max-height: 300px; /* Márgen para la imágen */
  object-fit: cover; /* Para que la imagen ocupe todo el espacio del contenedor */
}
main .rowIndexEvent .textEventIndex {
  /* Propiedades del contenedor del cuadro de texto sección EVENTOS*/
  height: fit-content; /* Para que el contenedor se adapte al contenido*/
  max-height: 380px; /* Para que se mantenga el estilo al adaptar pantalla */
  background-color: #f5f5f5;
  box-shadow: 0px 0px 10px rgba(2, 1, 1, 0.1);
  border-top-left-radius: 30px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 30px;
  /* Mixin- Asigna curvas a las aristas */
  /*Mixin de Margin y Padding*/
  margin: 0 -40px 0 0;
  padding: 0;
  /* Mixin- Margin y Padding */
}
main .rowIndexEvent .textEventIndex h2 { /* Corrección de valores del h2 global */
  border-top-left-radius: 30px;
  width: 100%;
  /*Mixin de Margin y Padding*/
  margin: 0;
  padding: 0;
  /* Mixin- Margin y Padding */
}
main .rowIndexEvent .textEventIndex div { /* Estilos del contenedor de la sección Eventos */
  max-height: 210px; /* Altura máxima de la región scrollable */
  overflow-y: auto; /* Habilita el scroll vertical si el contenido es mayor que la altura */
}
main .rowIndexEvent .textEventIndex div p {
  /* Fuente y espaciados del texto de EVENT*/
  font-family: "Barlow Condensed", sans-serif;
  font-size: larger;
  /*Mixin de Margin y Padding*/
  margin: 10;
  padding: 5px 50px 0px 10px;
  /* Mixin- Margin y Padding */
}
main .rowIndexEvent .textEventIndex div p span {
  display: block; /* Para generar saltos de línea en los textos */
}
main .rowIndexEvent .textEventIndex div .buttonEnterateMas {
  /* Propiedades del button extendida */
  margin: 15px; /* Espaciado entre el botón y el resto */
}
main .rowIndexEvent div {
  border-radius: 30px; /* Asigno bordes circulares al carrousel de EVENTOS*/
}
@media screen and (max-width: 990px) {
  main {
    /* Comportamiento de los contenedores al ajustar la resolución de pantalla */
  }
  main .rowIndexEvent {
    /* Para que el texto se ubique debajo del carrusel de manera responsive */
    flex-wrap: wrap-reverse;
  }
  main .rowIndexEvent .divEventIndex {
    /*Mixin de Height y Width*/
    height: auto;
    width: auto;
    /* Mixin- Height y Width */
  }
  main .rowIndexEvent .divEventIndex img {
    max-height: none; /* Corrección de escala para que la img ocupe toda la pantalla */
  }
  main .rowIndexEvent .textEventIndex {
    width: 75%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    /* Mixin- Asigna curvas a las aristas */
    /*Mixin de Margin y Padding*/
    margin: -30px 0 0 0;
    padding: 30px 0 0 0;
    /* Mixin- Margin y Padding */
  }
  main .rowIndexEvent .textEventIndex h2 { /* Corrección de valores del h2 global */
    /*Mixin de Margin y Padding*/
    margin: -40px 0 0 0;
    padding: 40px 0 0 0;
    /* Mixin- Margin y Padding */
  }
  main .rowIndexEvent .textEventIndex div p {
    /* Para que se acomode el texto cuando se achique la pantalla */
    /*Mixin de Margin y Padding*/
    margin: 10;
    padding: 5px 10px 0px 10px;
  }
}
main .containerImgContainer {
  background-image: url("../images/indexRun.jpg"); /*Imágen de fondo de la seción*/
  background-size: cover; /* Para cubrir todo el fondo */
  background-position: center;
  background-repeat: no-repeat;
}
main .containerImgContainer h2 {
  /* Corrección de valores del h2 global */
  font-style: italic;
  /*Mixin de Margin y Padding*/
  margin: 0 0 80px 0;
  padding: 6px;
  /* Mixin- Margin y Padding */
  color: #3d1b12; /* Cambio el color de la fuente del h2 */
}
main .containerImgContainer h2 .smaller-text {
  /* Ajuste de tamaño de fuente */
  font-size: 50%;
}
main .containerImgContainer .imgContainer {
  /*Fondo de los logos de fundamentos*/
  align-items: center;
  /*Mixin de Margin y Padding*/
  margin: 100px 0 100px 0;
  padding: 40px 0 30px 0;
  /* Mixin- Margin y Padding */
  background-color: rgba(233, 113, 0, 0.9019607843);
}
main .containerImgContainer .imgContainer .mainImage .imgFundamentos {
  /* Ajuste de tamaño de fuente */
  margin: 30px 0 10px;
  max-width: 100%;
  height: 100px;
}
main .containerImgContainer .imgContainer .mainImage p {
  font-family: "Barlow Condensed", sans-serif;
  color: #ffe4c4;
}
main .containerImgContainer .imgContainer .mainImage span {
  display: block; /* Para generar saltos de línea en los textos */
}
main .containerImgContainer .imgContainer .mainImage .imgFundamentos:active {
  /* Repite la animación al hacerle click a la imagen */
  animation: 1s;
}
main .containerImgContainer p {
  margin: 0; /* Ajuste para que se vea un espacio entre el final de la sección y el footer */
}

/* FIN MAIN */
/* ----------------------- FIN Sección fundamentos ----------------------- */

/*# sourceMappingURL=style.css.map */
